{% extends 'base.html.twig' %}

{% block title %}Stacked - Free CSS Template{% endblock %}

{% block body %}
<nav class="nav">
  <div class="burger">
    <div class="burger__patty"></div>
  </div>
  {# <ul class="nav__list">
    <li class="nav__item">
      <a href="#1" class="nav__link c-blue"><img src="{{ asset('images/home-icon.png') }}" alt=""></a>
    </li>
    <li class="nav__item">
      <a href="#2" class="nav__link c-yellow scrolly"><img src="{{ asset('images/about-icon.png') }}" alt=""></a>
    </li>
    <li class="nav__item">
      <a href="#3" class="nav__link c-red"><img src="{{ asset('images/projects-icon.png') }}" alt=""></a>
    </li>
    <li class="nav__item">
      <a href="#4" class="nav__link c-green"><img src="{{ asset('images/contact-icon.png') }}" alt=""></a>
    </li>
  </ul> #}
  <ul class="nav__list">
  {% for post in posts %}
     <li class="nav__item">
      <a href='{{ host }}/{{ post.pages }}' class="nav__link c-blue">{{ post.pages }}</a>
    </li>
  {% endfor %}
  </ul>
</nav>

<section class="panel b-blue" id="1">
  <article class="panel__wrapper">
    <div class="panel__content">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="home-content">
              <div class="home-heading">
                <h1><em>Stak</em> HTML CSS</h1>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="home-box-content">
                    <div class="left-text">
                      <h4>New <em>Stacked</em> Template</h4>
                      <p>{{ description | default('Stacked is brought to you by TemplateMo...') }}</p>
                      <div class="primary-button">
                        <a href="#2">Discover More</a>
                      </div>
                    </div>
                    <div class="right-image">
                      <img src="{{ asset('images/right-home-image.png') }}" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>

<section class="panel b-yellow" id="2">
  <article class="panel__wrapper">
    <div class="panel__content">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="about-content">
              <div class="heading">
                <h4>About us</h4>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="about-box-content">
                    <img src="{{ asset('images/about-image.png') }}" alt="">
                  </div>
                </div>
                <div class="col-md-7 col-md-offset-5">
                  <div class="about-box-text">
                    <h4>Curabitur varius sapien</h4>
                    <p>{{ about_text | default('Nulla vel accumsan dui. Aliquam tincidunt elit...') }}</p>
                    <div class="primary-button">
                      <a href="#3">Discover More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>

<section class="panel b-red" id="3">
  <article class="panel__wrapper">
    <div class="panel__content">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="projects-content">
              <div class="heading">
                <h4>Recent Projects</h4>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="owl-carousel owl-theme projects-container">
                    {% for project in projects %}
                      <div>
                        <div class="project-item">
                          <a href="{{ asset(project.image) }}" data-lightbox="image-1">
                            <img src="{{ asset(project.image) }}" alt="{{ project.title }}">
                          </a>
                          <div class="text-content">
                            <h4>{{ project.title }}</h4>
                            <p>{{ project.description }}</p>
                            <div class="primary-button">
                              <a href="#">Discover More</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>

<section class="panel b-green" id="4">
  <article class="panel__wrapper">
    <div class="panel__content">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="contact-content">
              <div class="heading">
                <h4>Contact us</h4>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="contat-form">
                    <form id="contact" action="" method="post">
                      <fieldset>
                        <input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required>
                      </fieldset>
                      <fieldset>
                        <input name="email" type="email" class="form-control" id="email" placeholder="Email" required>
                      </fieldset>
                      <fieldset>
                        <textarea name="message" rows="6" class="form-control" id="message" placeholder="Message" required></textarea>
                      </fieldset>
                      <fieldset>
                        <button type="submit" id="form-submit" class="btn">Send Message</button>
                      </fieldset>
                    </form>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="more-info">
                    <p>Lorem ipsum dolor, consectetur adipiscing elit. Nunc purus ligula...<br><br>
                      <em>3344 Etiam mauris erat,<br>Vestibulum eu augue nec, 10550</em>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="footer">
              <p>Copyright &copy; 2017 Your Company | Designed by TemplateMo</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>

            <script src="{{ asset('js/vendor/jquery-1.11.2.min.js') }}"></script>
            <script src="{{ asset('js/vendor/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/plugins.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}

